<!doctype html>
<html>
  <body>
    <h1>Translate Words</h1>
    <form action="{{ url_for('translate') }}" method="post">
      {% for line in tokens %}
        <div>
          {% for word in line %}
            <div>
              <strong>{{ word }}</strong> - {{ app.transliterations[word] }}<br>
              <input type="text" name="{{ word }}" value="{{ app.vocab[word] or '' }}">
            </div>
          {% endfor %}
        </div>
      {% endfor %}
      <button type="submit">Save Translations</button>
    </form>
  </body>
</html>
